name : CI/CD Pipeline - Docker & Kubernetes

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PWD }}

      - name: Get version number
        id: version
        run: |
          VERSION=v$(date +'%s')
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: nawaf1208/docker-k8s-app:${{ env.VERSION }}

      - name: Set up Kubeconfig
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Install Kind
        uses: helm/kind-action@v1.8.0

      - name: Update image in Kubernetes
        run: |
          kubectl set image deployment/devops-app devops-app=nawaf1208/docker-k8s-app:${{ env.VERSION }}
          kubectl rollout status deployment/devops-app